.jumbotron {
  padding-top: 2rem;
  background-color: #ffffff;
  color: #161616;
}

#about {
  background-color: #161616;
  color: white;
  margin-top: -10px;
}
#about p {
  text-align: justify;
}

.card {
  transition: 0.3s;
}
.card:hover {
  transform: scale(1.1);
}

section {
  padding-top: 5rem;
}

#contact a {
  text-decoration: none;
  border: 1px solid #1170fd;
  transition: 0.3s;
}

#contact a:hover {
  background-color: #1170fd;
  color: white;
}

footer {
  min-height: 70px;
  background-color: #161616;
  color: white;
}
